# MySQL
MYSQL_ROOT_PASSWORD=请设置你的数据库密码
MYSQL_DATABASE=etl_db

# MinIO 
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=请设置你的MinIO密码

# Airflow 
AIRFLOW_FERNET_KEY=请生成一个Fernet密钥
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=密码使用命令'docker logs etl_airflow(项目配置的airflow的名字) 2>&1 |grep -i "password"' 需要去日志中寻找，因为airflow 3.x不支持固定密码